* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
}

.get-started:hover {
  transform: scale(1.2);
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #022972, #002855) ;
  width: 100%;
  gap: 15px;
  padding: 60px;
  font-weight: 500;
  margin-bottom: 50px;
}

.start button {
  padding: 15px;
  font-size: 1.2rem;
  background-color: #587B7F;
  color: white;
}

.start button:hover {
  background-color: #E2C044;
  color: black;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.boxes {
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 20px;
}

.box-items {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #587B7F;
  border-radius: 10px;
}

.sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D3D0CB;
  color: black;
  width: 100%;
  padding: 25px;
  gap: 20px;
}

.pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home-pics {
  width: 200px;
  height: 100px;
  padding: 10px;
}

.pics-bottom, .pics-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px
}

a {
  text-decoration: none;
  color: white;
}