.sec-headers {
    display: flex;
    gap: 20px;
    /* margin-bottom: 5px; */
    /* margin-top: 20px; */
}

.head {
    /* background-color: rgb(41, 22, 74); */
    background-color: #002855;
    /* border: 1px solid white; */
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s all;    
}

.indicator {
    height: 3px;
    border-radius: 50px;
}

.active {
    background-color: #8201d1;
}

.inactive {
    background-color: #587B7F;
}

.head:hover {
    cursor: pointer;
    background-color: #587B7F;
}

.form-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2f3e46;
    width: 550px;
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px black;
}

.form-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 90%;
}

.form-item label {
    flex: 1;
}

.form-item input {
    flex: 2;
    border-radius: 10px;
    border: 1px solid white;
    padding: 4px;
}

.next, .add {
    margin-top: 5px;
    background-color: #52796f;
    padding: 10px;
}

.next:hover, .add:hover {
    background-color: #E2C044;
    color: black;

}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.setup-left {
    /* flex: 0 0 600px; */
    /* background-color: red; */
    justify-content: center;
    /* max-width: 40%; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.setup-right {
    flex: 0 0 850px;
    /* margin-right: 100px; */
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}