.page-cont {
    background-color: white;
    /* max-width: 600px; */
    min-width: 0;
    color: black;
    font-family: Calibri;
    height: 600px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.p-everything {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 14px;
}

.divider {
    width: 90%;
    background-color: black;
    height: 2px;
}

.p-title {
    display: flex;
    justify-content: left;
    /* background-color: red; */
    align-items: center;
    width: 80%;
    margin: auto;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 16px;
}

.education, .experience, .projects, .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}