.page-cont {
    background-color: white;
    /* max-width: 600px; */
    min-width: 0;
    color: black;
    font-family: Calibri;
    height: 703px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.p-everything {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 14px;
}

.divider {
    width: 90%;
    background-color: black;
    height: 2px;
}

.p-header {
    display: flex;
    /* background-color: red; */
    align-items: center;
    width: 90%;
    margin-top: 10px;
    font-size: 16px;
}

.education, .experience, .projects, .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-date {
    font-size: 16px;
    /* background-color: red; */
}

.p-title {
    font-size: 16px;
    /* background-color: red; */
}

.p-section {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 16px;
    /* background-color: red; */
    width: 90%;
}

.p-loc {
    /* background-color: red; */
    text-align: right;
}

.p-desc {
    /* background-color: red; */
    width: 34vw;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    margin-left: 30px;
}

.no {
    font-weight: 500;
}